<link rel="stylesheet" href="/stylesheets/style.css">

<h1>EDIT PROFILE</h1>

<p> OLA OLE OLE OLA OLE</p>

<div id="edit-profile-form">
  <h2>Edit profile</h2>
  <form action="/profile/edit-profile/{{_id}}" method="POST">

    <label>
      Username
      <input type="text" name="username" value="{{username}}" />
    </label>

    <label>
      Email
      <input type="email" name="email" value="{{email}}" />
    </label>

    <label>
      Password
      <input type="password" name="password" value="{{password}}" />
    </label>

    <a href="/edit-profile"><button>Edit User information</button></a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>



  <a href="/profile"><button>back to profile page</button></a>
</div>  