<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/edit-profile-styles.css" />

  <div class="page-title-container">
    <h1>Edit profile</h1>
  </div>

<div class="editprofile-fullarea-container">

<div id="edit-profile-form">
  <div class="card-body">
  <form action="/profile/edit-profile/{{_id}}" method="POST">

    <label>
      Username
      <input type="text" name="username" value="{{username}}" />
    </label>

    <label>
      Email
      <input type="email" name="email" value="{{email}}" />
    </label>

    <label>
      Password
      <input type="password" name="password" value="{{password}}" />
    </label>

    <a href="/edit-profile"><button id="button-add-to-mealplan">Edit User information</button></a>

  </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>



  </div> 

</div>