<link rel="stylesheet" href="/stylesheets/edit-mealplan.styles.css" />

<h3>OLA MUNDO</h3>

<div class="edit-recipe-area-container">

    {{#each recipes}}
  <div class="edit-recipe-card">
      <form action="/recipes/my-recipes/edit/{{_id}}" method="post">

        <label for="day">Recipe Day</label>
        <input type="text" name="day" id="day" value="{{day}}" />

        <label for="recipeName">Recipe name:</label>
        <input type="text" name="name" id="name" value="{{name}}" />

        <label for="ingredients">Ingredients</label>
        {{#each ingredients}}
          <input
            type="text"
            name="ingredients"
            id="ingredients"
            value="{{this}}"
          />
        {{/each}}

        {{! ask why this buttons are not working properly }}

        <button type="submit">Edit Recipe</button></form>
      <form action="/recipes/my-recipes/delete/{{_id}}" method="POST"><button
          type="submit"
        >Delete Recipe</button></form>

  </div>

    {{/each}}
</div>