<h1>MY-MEALPLAN </h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit perspiciatis
  quisquam officiis sapiente nostrum dolorum. Vero, eaque veniam praesentium
  adipisci modi, consequuntur repellendus molestiae laborum, cum repudiandae
  doloremque corporis nesciunt! Quia distinctio aperiam exercitationem iure,
  possimus cumque itaque ea? Sequi, dolorum sapiente hic labore cumque modi esse
  quia at vitae facere porro quaerat voluptatum placeat doloremque mollitia
  fuga, blanditiis commodi! Vitae error illo beatae officia ut, illum, culpa
  fugiat labore mollitia neque rem fugit nulla corporis impedit nostrum commodi
  debitis cumque. Maxime nam ea, vel illo veniam assumenda quae repellat. Aut
  culpa ipsum qui, animi iste alias quos quod sit ut corporis, nam veniam
  similique autem, voluptatum omnis? Vitae voluptatem ducimus odio tempore
  quibusdam perspiciatis numquam labore rerum earum. Cupiditate? Praesentium
  quas, optio nulla explicabo blanditiis ratione perferendis, natus obcaecati
  autem numquam, iusto fugiat doloremque voluptate dicta tenetur magni molestiae
  illo neque iste maiores inventore! Asperiores id nisi quia cupiditate!</p>

<a href="/profile"><button>back to profile page</button></a>

<div class="mealplan-area-container">
  {{#each recipes}}

    <div class="monday">
      {{#compare day "monday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="tuesday">
      {{#compare day "tuesday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="wednesday">
      {{#compare day "wednesday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="thursday">
      {{#compare day "thursday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>Instructions</p>
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="friday">
      {{#compare day "friday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="saturday">
      {{#compare day "saturday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

    <div class="sunday">
      {{#compare day "sunday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>{{instructions}}</p>

      {{/compare}}
    </div>

  {{/each}}

</div>