<link rel="stylesheet" href="/stylesheets/my-mealplan.styles.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />


<h1 class="page-title-container">My mealplan</h1>

<div class="entire-area">
 
    {{#each recipes}}
     <div class="mealplan-days-area">
      <div class="mealplan-card">
        <h2 class="recipe-day">{{day}}</h2>
        <h2 class="recipe-name">{{name}}</h2>
        {{#each ingredients}}
          <p class="mealplan-card-text">{{this}}</p>
        {{/each}}
        <p><span id="instructions">Instructions (Link)</span></p>
        <a href="{{instructions}}" target="_blank"><p>{{instructions}}</p></a>

        <div class="edit-delete-buttons-area">
          <a href="/recipes/my-recipes/edit/{{_id}}" ><button class="edit-delete-btn">Edit recipe</button></a>
          <form action="/recipes/my-recipes/delete/{{_id}}" method="POST"><button type="submit" class="edit-delete-btn">Delete Recipe</button></form>
        </div>

        </div>
      </div>
    {{/each}}
  
 </div>

<br>
  <div class="lower-button-profilepage-area">
    <a href="/profile"><button class="lower-button-profilepage">back to profile page</button></a>
  </div>

{{!-- <div class="mealplan-area-container">
  {{#each recipes}}

    <section class="monday-tuesday-wednesday">
      <div class="monday day-card">
        {{#compare day "Monday"}}
          <h2>{{day}}</h2>
          <h2>{{name}}</h2>
          <p>ingredients</p>
          {{#each ingredients}}
            <p>{{this}}</p>
          {{/each}}
          <p>Instructions</p>
          <a href="{{instructions}}"><p>{{instructions}}</p></a>
          <a href="/recipes/my-recipes/edit/{{_id}}"><button>Edit recipe</button></a>
           <form action="/recipes/my-recipes/delete/{{_id}}" method="POST"><button type="submit">Delete Recipe</button></form>
      
        {{/compare}}
      </div>
      {{/each}}

      </section>
  
{{#each recipes}}
      <div class="tuesday day-card">
        {{#compare day "Tuesday"}}
          <h2>{{day}}</h2>
          <h2>{{name}}</h2>
          <p>ingredients</p>
          {{#each ingredients}}
            <p>{{this}}</p>
          {{/each}}
          <p>Instructions</p>
          <a href="{{instructions}}"><p>{{instructions}}</p></a>

        {{/compare}}        
      </div>
{{/each}}

{{#each recipes}}
      <div class="wednesday day-card">
        {{#compare day "Wednesday"}}
          <h2>{{day}}</h2>
          <h2>{{name}}</h2>
          <p>ingredients</p>
          {{#each ingredients}}
            <p>{{this}}</p>
          {{/each}}
          <p>Instructions</p>
          <a href="{{instructions}}"><p>{{instructions}}</p></a>
        {{/compare}}
          
      </div>
      {{/each}}
    </section>


  <section class="thursday-friday">
    {{#each recipes}}
    <div class="thursday day-card">
      {{#compare day "Thursday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>Instructions</p>
        <a href="{{instructions}}"><p>{{instructions}}</p></a>
      {{/compare}}
    </div>
    {{/each}}

{{#each recipes}}
    <div class="friday day-card">
      {{#compare day "Friday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>Instructions</p>
        <a href="{{instructions}}"><p>{{instructions}}</p></a>
      {{/compare}}
    </div>
    {{/each}}
  </section>

  <section class="thursday-friday">
    {{#each recipes}}
    <div class="saturday day-card">
      {{#compare day "Saturday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>Instructions</p>
        <a href="{{instructions}}"><p>{{instructions}}</p></a>
      {{/compare}}
    </div>
    {{/each}}

{{#each recipes}}
    <div class="sunday day-card">
      {{#compare day "Sunday"}}
        <h2>{{day}}</h2>
        <h2>{{name}}</h2>
        <p>ingredients</p>
        {{#each ingredients}}
          <p>{{this}}</p>
        {{/each}}
        <p>Instructions</p>
        <a href="{{instructions}}"><p>{{instructions}}</p></a>
      {{/compare}}
    </div>
  </section>

  {{/each}}

</div>  --}}