<link rel="stylesheet" href="/stylesheets/my-recipes.styles.css">

<h1> MY RECIPES </h1>


<a href="/"><button>Home page</button></a>

<br />

<a href="/profile"><button>Profile page</button></a>

<br />
{{! --------------------------------------------------------------- }}

<div class="recipe-cards">
  {{#each data}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 id="recipe-name" class="{{recipe.label}}">{{recipe.label}}</h5>
      {{#each recipe.ingredients}}
        <p class="card-text">{{text}}</p>
      {{/each}}
      <form method="POST" action="/profile/my-recipes">
        <button type="submit" class="btn btn-primary">Add to mealplan</button>
        <input type="hidden" name="recipeName" value="{{recipe.label}}">
        {{#each recipe.ingredients}}
          <input type="hidden" name="ingredients[]" value="{{this.text}}">
        {{/each}}
      </form>
    </div>
  </div>
  {{/each}}
</div>

