
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/my-recipes.styles.css" />

<div class="page-title-container">
  <h1> MY RECIPES </h1>
</div>
{{! <a href="/"><button>Home page</button></a>

<br />

<a href="/profile"><button>Profile page</button></a> }}



<hr class="horizontal-line-title">
{{! --------------------------------------------------------------- }}

<div class="recipe-cards-fullarea-container">
  {{#each data}}
    <div class="card">
      <div class="card-body">
        <h5 id="recipe-name" class="{{recipe.label}}">{{recipe.label}}</h5>
        {{#each recipe.ingredients}}
          <p class="card-text">{{text}}</p>
        {{/each}}

        <div>
          <p><span id="instructions">Instructions (Link)</span></p>
          <p><span><a href="{{recipe.url}}" class="url-recipe">{{recipe.url}}</a></span></p>

        </div>
        <div class="day-button-area">
        <form method="POST" action="/profile/my-recipes">
          <select name="day" id="day">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          
          <button type="submit" id="button-add-to-mealplan"><span class="text">Add to mealplan</span></button>
          <input type="hidden" name="recipeName" value="{{recipe.label}}" />
          <input type="hidden" name="instructions" value="{{recipe.url}}" />
          {{#each recipe.ingredients}}
            <input type="hidden" name="ingredients" value="{{this.text}}" />
          {{/each}}
        </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>